body {
  text-align: center;
  color: #eae9f2;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 70vh;
  margin-top: 250px;
  overflow: hidden;
}

h1 {
  display: inline-block;
  font-size: 80px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#bar {
  width: 100%;
  height: 2px;
  background-color: #eae9f2;
  text-align: center;
}
