body {
  text-align: center;
  color: #9f909a;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 70vh;
  margin-top: 250px;
  margin-left: 25px;
}

h1 {
  font-size: 80px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#bar {
  width: 100%;
  height: 2px;
  background-color: #94a2b5;
  text-align: center;
}
